@charset "utf-8";

/*================================/
テーブル
================================*/

table.profile{
    width:680px;
    border-collapse:collapse;/*セル同士の隙間を空けない*/
}

table.profile th{
    width:150px;/*見出しセルの幅*/
    padding:10px;
    text-align:center;
    white-space: nowrap;/*セル内の改行を禁止する*/
    background-color:#ccccee;
    border-bottom:dotted #666666 1px;/*セルのボーダー*/
}

table.profile td{
    padding:10px;
    background-color:#eeeeff;
    border-bottom:dotted #666666 1px;
}